<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hdy.backend.project.mapper.InvokeCountOrderMapper">

    <resultMap id="BaseResultMap" type="cn.hdy.backend.project.model.entity.InvokeCountOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="outTradeNo" column="out_trade_no" jdbcType="VARCHAR"/>
            <result property="totalAmount" column="total_amount" jdbcType="DOUBLE"/>
            <result property="payAmount" column="pay_amount" jdbcType="DOUBLE"/>
            <result property="interfaceId" column="interface_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="invokeCount" column="invoke_count" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,out_trade_no,total_amount,
        pay_amount,interface_id,user_id,
        invoke_count,status,create_time,
        update_time,is_delete
    </sql>
</mapper>
